OliverTwist/SenderService/Service References/ClientSiteCallback/GatewayCallback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GatewayCallback" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9049/Services/GatewayCallback.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9049/Services/GatewayCallback.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9049/Services/GatewayCallback.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGatewayCallback_NotifyDelivered_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyDelivered" />
  </wsdl:message>
  <wsdl:message name="IGatewayCallback_NotifyDelivered_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyDeliveredResponse" />
  </wsdl:message>
  <wsdl:message name="IGatewayCallback_NotifyFailed_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyFailed" />
  </wsdl:message>
  <wsdl:message name="IGatewayCallback_NotifyFailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyFailedResponse" />
  </wsdl:message>
  <wsdl:portType name="IGatewayCallback">
    <wsdl:operation name="NotifyDelivered">
      <wsdl:input wsaw:Action="http://tempuri.org/IGatewayCallback/NotifyDelivered" message="tns:IGatewayCallback_NotifyDelivered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGatewayCallback/NotifyDeliveredResponse" message="tns:IGatewayCallback_NotifyDelivered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFailed">
      <wsdl:input wsaw:Action="http://tempuri.org/IGatewayCallback/NotifyFailed" message="tns:IGatewayCallback_NotifyFailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGatewayCallback/NotifyFailedResponse" message="tns:IGatewayCallback_NotifyFailed_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGatewayCallback" type="tns:IGatewayCallback">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyDelivered">
      <soap:operation soapAction="http://tempuri.org/IGatewayCallback/NotifyDelivered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFailed">
      <soap:operation soapAction="http://tempuri.org/IGatewayCallback/NotifyFailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GatewayCallback">
    <wsdl:port name="BasicHttpBinding_IGatewayCallback" binding="tns:BasicHttpBinding_IGatewayCallback">
      <soap:address location="http://localhost:9049/Services/GatewayCallback.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>