OliverTwist/OliverTwist/Service References/GateService/ADEService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7049/ADEService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:7049/ADEService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:7049/ADEService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Csharper.Common" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addresses" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distibutionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transliterate" type="xs:boolean" />
        <xs:element minOccurs="0" name="deliveryTime" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="validalityPeriod" nillable="true" type="q2:duration" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customParameters" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="SendSmsResult" nillable="true" type="q4:ArrayOfSMSSeriesId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMSStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distributionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="rowsPerPage" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customLimits" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMSStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="CheckSMSStatusesResult" nillable="true" type="q6:ArrayOfSMSCheckItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSCounters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="status" nillable="true" type="q7:SMSStatus" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distibutionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customLimits" nillable="true" type="q8:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSCountersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="GetSMSCountersResult" nillable="true" type="q9:ArrayOfSMSCounter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSDetalization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distibutionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extSmsId" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" nillable="true" type="q10:guid" />
        <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="rowsPerPage" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:long" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customLimits" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSDetalizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="GetSMSDetalizationResult" nillable="true" type="q12:ArrayOfSMSDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMSByMessageId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsPerPage" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMSByMessageIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="CheckSMSByMessageIdResult" nillable="true" type="q13:ArrayOfSMSCheckItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMSById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q14:guid" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMSByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="CheckSMSByIdResult" nillable="true" type="q15:SMSCheckItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q16:guid" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Csharper.Common" minOccurs="0" name="CheckSMSResult" nillable="true" type="q17:SMSCheckItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>