SMSServiceGate/SMSServiceGate/Data/CheckSMSResp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name ="dateTime">
    <xs:restriction base ="xs:string">
      <xs:pattern value ="\d\d\.\d\d\.\d\d\d\d\s+\d\d:\d\d:\d\d"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name ="smsStatus">
    <xs:restriction base ="xs:string">
      <xs:enumeration value ="deliver"/>
      <xs:enumeration value ="not_deliver"/>
      <xs:enumeration value ="partly_deliver"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="sms">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="state_id" type="smsStatus" use="required" />
            <xs:attribute name="state_update" type="dateTime" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="method" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>