SMSServiceGate/SMSServiceGate/Data/ErrorSMSResp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="msg" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="method" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>