SMSServiceGate/SMSServiceGate/Data/Request.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name ="phoneNumber">
    <xs:restriction base ="xs:string">
      <xs:pattern value ="\+\d+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence maxOccurs ="1" minOccurs ="1">
        <xs:element name="login" type="xs:string" maxOccurs ="1" minOccurs ="1"/>
        <xs:element name="pwd" type="xs:string" maxOccurs ="1" minOccurs ="1"/>
        <xs:sequence minOccurs ="1" maxOccurs ="unbounded">
          <xs:element name="originator" maxOccurs ="1" minOccurs ="1">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="num_message" type="xs:unsignedInt" use="required" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="phone_to" maxOccurs ="1" minOccurs ="1">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="phoneNumber">
                  <xs:attribute name="num_message" type="xs:unsignedInt" use="required" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="message" maxOccurs ="1" minOccurs ="1">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="num_message" type="xs:unsignedInt" use="required" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="sync" maxOccurs ="1" minOccurs ="1">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:integer">
                  <xs:attribute name="num_message" type="xs:unsignedInt" use="required" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="method" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>